---
layout: default
---

{%for post in site.posts %}
  {% capture id %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% unless post.next %}
    <article>
    <h1 id="{{ id }}">{{ id }}</h1>
    <ul class="archive-list whitebox">
  {% else %}
    {% capture next_id %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if id != next_id %}
      </ul>
      <article>
      <h1 id="{{ id }}">{{ id }}</h1>
      <ul class="archive-list whitebox">
    {% endif %}
  {% endunless %}
  <li>{{ post.date | date: "%Y/%m/%d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</article>
