<footer class="footer">
  <div class="container">
    &copy; 2015 akabe

    {% if site.github_username %}
    <a class="footer-link" href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a class="footer-link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% if site.qiita_username %}
    <a class="footer-link" href="https://qiita.com/{{ site.qiita_username }}">Qiita</a>
    {% endif %}
  </div>
</footer>

{% include analytics.html %}
