<div class="sidebar well">
<p>{{ site.description }}</p>
<p>コメント・ツッコミは twitter <a href="http://twitter.com/ackey_65535">@ackey_65535</a> か GitHub の <a href="https://github.com/akabe/akabe.github.io/issues">Issues</a> に投げて下さい</p>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
