<h1 class="side-title redbox" id="recent-posts">Recent Posts</h1>
<ul class="sidebox whitebox">
  {% for post in site.posts limit:5 %}
  <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1 class="side-title greenbox" id="categories">Categories</h1>
<ul class="sidebox whitebox">
  {% for category in site.categories %}
  <li><a href="{{ site.baseurl }}/category.html#{{ category[0] }}">{{ category[0] }}</a></li>
  {% endfor %}
</ul>

<h1 class="side-title orangebox" id="archives">Archives</h1>
<ul class="sidebox whitebox">
{%for post in site.posts %}
  {% capture id %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% unless post.next %}
      <li><a href="{{ site.baseurl }}/archive.html#{{ id }}">{{ id }}</a></li>
  {% else %}
    {% capture next_id %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if id != next_id %}
      <li><a href="{{ site.baseurl }}/archive.html#{{ id }}">{{ id }}</a></li>
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>
